.universities {


   .control {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      margin: 50px 0;

      .bookmarks{
         position: relative;
         margin-right: 30px;

         i{
            font-size: 2.5rem;
            color: #474747;
            cursor: pointer;
         }

         &::after{
            content: attr(data-count);
            display: flex;
            position: absolute;
            left: 1.7rem;
            top: 0;
            background-color: #474747;
            padding: 1px 7px;
            border-radius: 99px;
            color: #fff;
         }
      }

      .btns{
         display: flex;
         align-items: center;
         justify-content: center;
         gap: 10px;
      }
   }

   h2 {
      width: 100%;
      text-align: center;
      margin-bottom: 30px;
   }

   .list_university {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .item {
         padding: 3px 10px;
         border: 1px solid #dadada;
         border-radius: 4px;
         transition: 0.1s;

         .between {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;

            p,
            h3 {
               margin: 0;
               font-size: 1rem;
               color: #474747;            
            }

            .right_box{
               display: flex;
               align-items: center;
               gap: 20px;  

               i{
                  font-size: 1.4rem;
                  cursor: pointer;
                  color: #474747;
               }
            }
         }
      }

      .item:hover {
         border: 1px solid #c9c9c9;
         box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
      }
   }

}