.universities {


   .control {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
      margin: 50px 0;
   }

   .list_university {
      display: flex;
      flex-direction: column;
      gap: 4px;

      .item {
         padding: 3px 10px;
         border: 1px solid #dadada;
         border-radius: 4px;
         transition: 0.1s;

         .between {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 10px;

            p,
            h3 {
               margin: 0;
               font-size: 1rem;
               color: #474747;            }

            .right_box{
               display: flex;
               align-items: center;
               gap: 20px;  

               i{
                  font-size: 1.4rem;
                  cursor: pointer;
                  color: #474747;
               }
            }
         }
      }

      .item:hover {
         border: 1px solid #c9c9c9;
         box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
      }
   }

}